body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(https://www.pixground.com/blue-abstract-background-4k-wallpaper/?download-img=4k);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, main {
    text-align: center;
}

.heh1 {
    background-color: blue;
    color: white;
    width: 100%;
    position: relative;
    height: 15%;
    border-radius: 15px;
}

h2{
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}